<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="manage" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-wrench" style="margin-right:2px"></i>İşlemler
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="manage">
                                <a class="dropdown-item" asp-action="Create" asp-controller="Note">
                                    <i class="fa fa-plus"></i>Yazı Ekle
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Note">
                                    <i class="fa fa-th-list" style="margin-right:4px"></i>Yazılarım
                                </a>
                                <a class="dropdown-item" asp-action="LikedList" asp-controller="Note">
                                    <i class="fa fa-star" style="margin-right:4px"></i>Beğendiklerim
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="Create" asp-controller="Category">
                                    <i class="fa fa-plus" style="margin-right:4px"></i>Kategori Ekle
                                </a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Category">
                                    <i class="fa fa-th-list" style="margin-right:4px"></i>Kategorileri Yönet
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="Create" asp-controller="User">
                                    <i class="fa fa-plus" style="margin-right:4px"></i>Kullanıcı Ekle
                                </a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="User">
                                    <i class="fa fa-th-list" style="margin-right:4px"></i>Kullanıcıları Yönet
                                </a>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="categories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-th-list" style="margin-right:4px"></i>Kategoriler
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="categories">
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Home">Tümü</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Home">Category 1</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Home">Category 2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MostLiked">
                                <i class="fa fa-star" style="margin-right:2px"></i>En Beğenilenler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa fa-th-list" style="margin-right:4px" ></i>Son Yazılar</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">
                                <i class="fa fa-sign-in" style="margin-right:2px"></i>Giriş</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">
                                <i class="fa fa-user" style="margin-right:2px"></i>Kayıt</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="userinfo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user" style="margin-right:2px"></i>EmirhanKaymak
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="userinfo">
                                <a class="dropdown-item" asp-action="ProfileShow" asp-controller="Home">
                                    <i class="fa fa-user"></i>Profil Göster</a>
                                <a class="dropdown-item" asp-action="ProfileEdit" asp-controller="Home">
                                    <i class="fa fa-user-edit"></i>Profil Düzenle</a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item" asp-action="DeleteProfile" asp-controller="Home">
                                    <i class="fa fa-times test-danger"></i>Profil Sil</a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item" asp-action="Logout" asp-controller="Home">
                                    <i class="fa fa-sign-out-alt"></i>Çıkış
                                    </a>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    @await RenderSectionAsync("Carousel",required:false)

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container small">
            Tüm Hakları Saklıdır. &copy; 2023 - MyApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> |
            <a asp-area="" asp-controller="Home" asp-action="About">Hakkımızda</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
